<!DOCTYPE html>
<html ng-app="windy" ng-controller="PageController as page">
<head>
  <title>{{page.title}}</title>
  <link rel="stylesheet" href="/style.css"/>
  <script type="text/javascript" src="/assets/moment-with-locales-2.10.3.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
  <script type="text/javascript" charset="utf-8">
      moment.locale('sv');
      angular.module('windy', [])
              .service('ForecastService', ['$http', function($http){
                  var request = $http.get('/data').then(function(result){
                      var data = result.data;
                      angular.forEach(data, function(data){
                          var time = moment(data.time, 'YYYY-MM-DD HH:mm:ss Z')
                          data.time = time.format('dddd, \\k\\l HH:mm \\[ D/M\\ ]');
                          var day = time.day();
                          var hour = time.hour();
                          data.isWeekend = (day == 0 || day == 6);
                          data.isWeekday = !data.isWeekend;
                          data.isWorktime = data.isWeekday && (hour >= 8 && hour <= 17);
                          data.isNight = hour > 22 || hour < 9;
                      });
                      return data;
                  });
                  this.forecast = function(){
                      return request;
                  }
              }])
              .controller('PageController', ['ForecastService', function(ForecastService){
                  var page = this;
                  this.title = 'Kan jag åka båt?';
                  page.message = 'Hämtar väderdata.';

                  this.forecast = ForecastService.forecast().then(function(forecast){
                      page.message = null;
                      page.forecast = forecast;
                  }, function(){
                      page.message = 'Väderdatan kunde inte hämtas. =/';
                  })
              }])
              .directive('windArrow', [function(){
                  return {
                      template: '<div class="arrow-up" ng-style="{transform: \'rotate(\'+direction+\'deg)\'}"></div>',
                      scope: {
                          direction: '=direction'
                      }
                  }
              }])
              .directive('beaufortIndicator', [function(){
                  return {
                      template: '<div class="beaufort-indicator" ng-class="cssClass">{{value}}</div>',
                      scope: {
                          value: '=value'
                      },
                      link: function(scope){
                          scope.$watch('value', function(value){
                              scope.cssClass = 'beaufort-' + (value || 'unknown');
                          });
                      }
                  }
              }])
  </script>
</head>
<body>
<div class="page-container">
  <h1>Kan jag åka båt?</h1>
  <div ng-if="page.message" class="page-message">{{page.message}}</div>
  <table class="forecast-table">
    <tr ng-repeat="time in page.forecast track by $index" class="time" ng-class="{night: time.isNight, worktime: time.isWorktime, weekend: time.isWeekend}">
      <td>{{::time.time}}</td>
      <td>{{::time.latitude}}</td>
      <td>{{::time.longitude}}</td>
      <td class="number">{{::time.temperature.value}}&deg; C</td>
      <td class="number">{{::time.windSpeed.mps |number:0}} m/s</td>
      <td class="number">{{::time.windDirection.deg |number:0}}&deg;</td>
      <td>
        <wind-arrow direction="::time.windDirection.deg"></wind-arrow>
      </td>
      <td class="number">{{::time.windDirection.name}}</td>
      <td class="number">{{::time.windSpeed.beaufort}}</td>
      <td>
        <beaufort-indicator value="::time.windSpeed.beaufort"></beaufort-indicator>
      </td>
      <td class="number">{{::time.pressure.value}} {{::time.pressure.unit}}</td>
    </tr>
  </table>
</div>
</body>
</html>