html, body{
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
}
body{
  background-color: #3473A1;
  color: #ecf0f1;
}

a, a:visted{
	color: blue;
}
.page-container{
  max-width: 78em;
  margin: 0 auto;
}
.page-message{
  padding: 1em 1.5em;
  background-color: #ecf0f1;
  color: #7f8c8d;
  border-radius: .375em;
}
table.forecast-table{
  width: 100%;
  border-collapse: collapse;
  tr td{
	font-size: 1em;
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: .5em 1em;
  }
  td.number{
	text-align: right;
  }
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: .25em solid transparent;
  border-right: .25em solid transparent;

  border-bottom: 1em solid black;
  margin-left:0;
}

.beaufort-indicator {
  color: #fff;
  padding: .5em 1em;
  text-align: center;
  font-weight: bold;
  border-radius: .375em;

  &.beaufort-1 {
    background-color: #2c3e50;
  }
  &.beaufort-2 {
    background-color: #34495e;
  }
  &.beaufort-3 {
    background-color: #2ecc71;
  }
  &.beaufort-4 {
    background-color: #769131;
  }
  &.beaufort-5- {
    background-color: #e67e22;
  }
  &.beaufort-6 {
    background-color: #e74c3c;
  }
  &.beaufort-7, .beaufort-8, .beaufort-9, .beaufort-10 {
    background-color: #c0392b;
  }
}

.time.night td{
  background-color: #2c3e50;
  color: rgba(255, 255, 255, 0.25);
}
.time.worktime{
  color: rgba(255, 255, 255, 0.25);
}