html, body{
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
}
body{
  background-color: #3473A1;
  color: #ecf0f1;
}

a, a:visted{
	color: blue;
}
.page-container{
  max-width: 78em;
  margin: 0 auto;
}
table.forecast-table{
  width: 100%;
  border-collapse: collapse;
  tr td{
	font-size: 1em;
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: .5em 1em;
  }
  td.number{
	text-align: right;
  }
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: .25em solid transparent;
  border-right: .25em solid transparent;

  border-bottom: 1em solid black;
  margin-left:0;
}